<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    <h1>    
            Sign Up
        </h1>

        <form>
            <h2>User Name</h2>
            <input type="text" placeholder="Enter User Name:" name="username">
            <h2>First Name</h2>
            <input type="text" placeholder="Enter First Name:" name="firstname">
            <h2>Last Name</h2>
            <input type="text" placeholder="Enter Last Name:" name="lastname">
            <h2>Password</h2>
            <input type="text" placeholder="Enter Password:" name="password">

            <br>

            <h1></h1>
            <h1></h1>
            <h1></h1>


            <button id="signup" class="btn btn-primary" type="submit">Sign Up</button>
        </form>

    </body>
</html>